@import 'color.scss';

$primary: $indigo-400;
$secondary: #28a745;
$danger: $red-500;
$warning: $yellow-700;
$ocean: #17a2b8;
$orange: #F4A261;
$white: $white;
$black: $black;

$text: $grey-800;
$text-active: $primary;
$title: $primary;

$sidebar-background: $grey-100;
$normal-background: $white;
